%br
%div.container
  %div.row
    %div.col
    %div.col-8
      %h2 About Joberino
      %p This app scrapes in the background and updates currently 3x's a day (9am / 12pm / 5pm). Right now it's only 'Greater NYC area' jobs, but hopefully that can be expanded. Jobs listed are only showing the past 7 days of listings. Additionally, we're using these search terms:
      %div.row
        %div.col-5
          %ul.list-group
            %li.list-group-item.active
              Search Terms
            %li.list-group-item
              full stack developer
            %li.list-group-item
              junior developer
            %li.list-group-item
              software engineer
            %li.list-group-item
              software developer
            %li.list-group-item
              front end developer
        %div.col-5
          %ul.list-group
            %li.list-group-item.active
              Filtering Out
            %li.list-group-item
              senior / sr
            %li.list-group-item
              lead
            %li.list-group-item
              manager
            %li.list-group-item
              director
            %li.list-group-item
              vp / president
            %li.list-group-item
              principal
            %li.list-group-item
              architect
            %li.list-group-item
              devops
            %li.list-group-item
              firmware
    %div.col