%br
%div.container
  %div.row
    %div.col
    %div.col-8
      %h3 Changelog:
      %br
      %div.table-responsive-md
        %table.table.table-hover.table-sm
          %thead.thead-dark
            %tr
              %th{ style: 'width: 115px;'}
                Date
              %th Change
          %tbody
            %tr
              %th 21-02-05
              %th Performance improvements
            %tr
              %th 21-02-04
              %th Add ability to mark job as applied with list, add built-in-nyc, update blocked terms list
            %tr
              %th 21-02-03
              %th Update Joberino to only show jobs listings in past 7 days, fix LI url
            %tr
              %th 21-02-01
              %th Fix job card, add "About Us" page
            %tr
              %th 21-01-31
              %th Deploy Joberino
    %div.col