%br
%div.container
  %div.row
    %div.col
    %div.col-8
      %h3 Changelog:
      %table.table
        %thead.thead-dark
          %tr
            %th Date
            %th Change
        %tbody
          %tr
            %th 21-02-03
            %th Update Joberino to only show jobs listings in past 7 days, fix LI url
          %tr
            %th 21-02-01
            %th Fix job card, add "About Us" page
          %tr
            %th 21-01-31
            %th Deploy Joberino
    %div.col